{% if form == '' %}
	Generating form...
{% else %}  
	<div id="form">
		<div class="form group">
			{{ form_label(form.attachment) }}
			{{ form_errors(form.attachment) }}
			{{ form_widget(form.attachment) }}
		</div>
		<br>
	
		<div class="form group">
			{{ form_label(form.picture) }}
			{{ form_errors(form.picture) }}
			{{ form_widget(form.picture, {'attr': {'class': 'form-control', 'placeholder': 'Picture (leave empty to make no changes).' }} ) }}
		</div>
		<br>
		<div class="form group">
			{{ form_label(form.about) }}
			{{ form_errors(form.about) }}
			{{ form_widget(form.about, {'attr': {'class': 'form-control', 'placeholder': 'At least 5 characters (leave empty to make no changes).' }} ) }}
		</div>
		{{ form_widget(form.number, {'attr': {'hidden': 'true'}} ) }}
		{{ form_widget(form.location, {'attr': {'hidden': 'true'}} ) }}
		{{ form_widget(form._token) }}
	</div>
{% endif %}